@mixin cardsFont {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;   
}


/* ESTILO DE LA CAJA CONTENEDORA DE CARDS */

.discoCards {
    padding-bottom: 3rem;
    padding-top: 3rem;
    justify-content: space-around;
}

/* ANIMACION DE CARDS */

.anime{
    @include cardsFont;
    &Integ{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    flex-basis: auto;
    margin-top: 2rem;
    font-weight: 500;
    p {
        margin-top:  0.5rem;
       }
          }

      }

.anime:hover{ 

    animation: shakeY;
    animation-duration: 1.5s;
            }

/* ESTILO DE LAS CARDS EN DISCOGRAFIA */
.discografiaStyle{    
    background: transparent;
    border: 0ch;
    text-align: center;
    align-items: center;
    font-weight: 700;
    margin-bottom: 5rem;

    a {
        background-color:#1DB954;
        color: white;
    }
}

/* BORDE DE LAS IMAGENES EN DISCOGRAFIA */
.imgDisco{
    border-style:ridge;
    border-color:transparent;
    border-radius: 2rem;
}


/* ESTILO DE LAS FOTOS DE LOS INTEGRANTES */
.integPics{
    align-self: center;
    margin-top: auto;
    float: left;
    width:  15rem;
    height: 14rem;
    object-fit: cover;
           }
