/* SUBTITULO EN CONTACTO */
.contactSub{
   @include subtitles;
   text-transform: uppercase;
   border-style: ridge;
   border-color: transparent;
   border-radius: 40%;
   box-shadow: 10px 10px 5px 0px rgba(0,128,128,0.75);
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,128,128,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,128,128,0.75);
}


/* BOTONES DE CONTACTO */
.contactBtns{
    @include subtitles;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,128,128,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,128,128,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,128,128,0.75);
 
}

.contactBtns:hover{
    transform:rotate(10deg);
    color: black;
}
 
/* FONDO EN FORMULARIO DE CONTACTO */
.bgContact{
    background: rgb(242,245,242);
    background: linear-gradient(315deg, rgba(242,245,242,1) 17%, rgba(199,200,199,1) 33%, rgba(66,70,70,1) 46%, rgba(252,252,251,1) 64%);

}

/* BORDE DEL FORM */
.form{
    border-style:ridge;
    border-color:transparent;
    border-radius: 2rem;

    label {
        font-size: 1.2rem;
        color: teal;
    }
}