/* FLEX CON EL RESTO DEL STAFF */
.flexStaff{  
    display: flex;
    flex-flow: column wrap ;
    justify-content:space-between;
    row-gap: 1.6rem;
    font-weight: 500;
    align-items: center;
    margin-top:2rem; 
   
    p{
        font-size: 1.5rem;
    }

/* ZOOM AL RESTO DEL STAFF */
    p:hover{transform: scale(1.3);}

        }

/* BORDE Y ESTILO DE LOS P */
.staffBorder{
    margin-bottom: 1.5rem;
    width: 30%;
    border-bottom-style:ridge;
    border-bottom-color: rgb(70, 37, 37);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    font-size: 1.5rem;
    text-align: center;
}

/* FLEX EN EL INICIO  */

.flexInicio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    nav{
        border-style:hidden;
        border-bottom-left-radius: 25%;
        border-bottom-right-radius: 25%;
        border-color: transparent;
    }
}


