/* ESTILO DEL FOOTER */
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    justify-content:space-evenly;
    text-align: center;
    font-size: 2rem;
    padding: 1.4rem;

    i{
 
        font-size: 2.2rem;
        margin-right: 2rem;
    } 
}

.corpoInc{
    margin-top: auto;
    text-align: left;
    font-size: 0.9rem;

    &email{
        text-align:left;
    }
}

/* FONDO DE COLOR DE INSTAGRAM PARA EL FOOTER */
.instagram{ 
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
}

