@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600&family=Roboto+Slab:wght@100;200;400;500;600;700;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Slab";
    
}
 /* FONDO DE LA PARTE PRINCIPAL DE LA PAGINA */
   
main{
    background-image: url(../images/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* PARRAFO EN EL INICIO */
.parrafo{
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* FONDO DE COLOR NEGRO */
.bgBlack{
    background-color: black;
}

.marginInicio{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* ESTILOS DE CAROUSEL EN GALERIA */
.galeryPics{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.clipsM iframe{
    margin-bottom: 3.4rem;
    border-style: hidden;
    border-radius: 1.5%;
}

.clipsM div{
    display: flex;
    align-items: center;
    justify-content: center;
}



