/* ACORDION CON DATOS DE LOS PRÓXIMOS SHOWS */

.acordTheme{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-size: 1.4rem;
}


.showsDate{
    color: red;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    text-align: center;
}

.showsDateOK{
   color:green;
}

.showsBorder{
    border-style: groove;
    border-radius: 0.3rem;
    border-color:brown;
}

.btnFont{
    font-size: 1.7rem;
}

/* FIN DEL ACORDION */