*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Slab";
    
}
 /* FONDO DE LA PARTE PRINCIPAL DE LA PAGINA */
   
main{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    
}

 /* ESTILO DEL TITULO */
 h1{    
    font-family: "Gluten","Cursive";
    font-weight: 900;
    font-size: calc(1em + 3vw);
    line-height: 1em; 
}

/* ESTILO DEL LOGO EN EL MENÚ */

.logo{
    width: 40%;
}

/* H3 EN EL INICIO  */

.bandHistory{
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* PARRAFO EN EL INICIO */
.parrafo{
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* SUBTITULOS EN DISCOGRAFIA */
.albumsEstudio{ 
    text-align: center;
    color:teal;
}

/* FONDO DE COLOR NEGRO */
.bgBlack{
    background-color: black;
}

/* SUBTITULO EN GALERIA */
.galerySub{
    font-size: 2rem;
    font-weight: 700;
}