*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Slab";
    
}
 /* FONDO DE LA PARTE PRINCIPAL DE LA PAGINA */
   
main{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    
}

/* PARRAFO EN EL INICIO */
.parrafo{
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* FONDO DE COLOR NEGRO */
.bgBlack{
    background-color: black;
}

$map: (rojo: red);